.card-header h4{
    text-align: center;
}
.btn-back{
    margin-top: 50px;
}
.displayName{
    text-align: center;
}

.not-login{
    color: red;
}

.btn-logout{
    text-align: right;
    padding-right: 50px;
}
.message-logined{
    margin: 25px;
    text-align: left;
}